<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">


  <div th:replace="fragments/navbar :: sidebar"></div>


  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">


      <div th:replace="fragments/navbar :: topbar"></div>


      <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Admin Dashboard</h1>
        </div>


        <div class="row">


          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Total Employees
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"
                         th:text="${totalEmployees}">0</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Total Payroll
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      ₹<span th:text="${totalPayroll}">0</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                      Monthly Attendance
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"
                         th:text="${monthlyAttendance}">0</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar-check fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-12">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Quick Actions</h6>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-md-3">
                    <a href="/employees" class="btn btn-primary btn-block p-3">
                      <i class="fas fa-users mr-2"></i>Manage Employees
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="/attendance" class="btn btn-success btn-block p-3">
                      <i class="fas fa-calendar-check mr-2"></i>Attendance
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="/payroll" class="btn btn-warning btn-block p-3">
                      <i class="fas fa-file-invoice-dollar mr-2"></i>Payroll
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="/employees/add" class="btn btn-info btn-block p-3">
                      <i class="fas fa-user-plus mr-2"></i>Add Employee
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
</body>
</html>